* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
.introduction-section {
  background-color: rgb(230, 89, 112);
  padding: 20px;
  margin: 10px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.introduction-section #intro-heading {
  font-size: 2em;
}
.introduction-section p {
  font-size: 1em;
}
h1 p {
  color: #ffffff;
}
/* attribute Selector */
input[type="text"]{
    color:#ffffff;
}
